.DS_Store

.idea

bin
obj

.vscode

SwipetorApp/appsettings.Development.json
SwipetorApp/App_Data/version.txt
SwipetorApp/App_Data/firebase-admin.json

SwipetorApp/wwwroot/public/build/*
SwipetorApp/wwwroot/**/*.css.map
SwipetorApp/wwwroot/**/*.css

script.sql
SwipetorApp/script.sql
publish
