Hi test,

<p>
    You have <strong>unread private message(s)</strong> in thread between users
    test.
</p>

<p>To view the hub please follow the URL below:</p>
<p>
    <a href="https://www.swipetor.com">https://www.swipetor.com</a>
</p>

<p>
    You won't be notified again for messages under this thread until you visit the
    website.
</p>

See you soon, Swipetor.com