@model WebAppShared.WebSys.Exceptions.ErrorViewModel

<h2>Error Happened!</h2>

<div class="card">
    <div class="card-content">@Model.Message</div>
</div>

<div style="text-align: center;">
    <i>
        Please contact us on <a target="_blank" class="supportEmailLink"></a> if this is unexpected and provide the page link in the email.
    </i>
</div>