@{
    ViewBag.Title = "Admin Dashboard ";
}

<div class="pageHead">
    <h1>
        User Management
    </h1>
</div>

<div class="box">
</div>

@* <h2>Admin Dashboard</h2> *@

@* <partial name="WeeklyNewMembersChart" /> *@